/body {
	font-family: helvetica
}
ul {
	font-family: monospace;
	color: red;
}
li {
	list-style: circle;
}
.list {
	list-style: square;
}
#date {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;

}
